<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TODO List | Impressum.</title>
    <link rel="stylesheet" type="text/css" href="/TODO-Webseite/libs/css/bootstrap.min.css">
</head>
<body>
    <div class="panel panel-default">
        <div class="panel-body">
            <h1 class="text-primary">Impressum</h1>
            <p class="text-default">Angaben gem. § 5 TMG </p><br>
            <br>
            <p class="text-primary"><strong>Betreiber und Kontakt:</strong></p><br>
            Juan Edmundo Cabello Bilbao <br>
            <br>
            Schlüterstr. 80 <br>
            App-Nr. 407 <br>
            10625 Berlin <br>
            <br>
            <i>Telefonnummer:</i> +491752329333<br>
            <i>E-Mail-Adresse:</i> juanecabellob@gmail.com<br>
        </div>
        <div class="panel-footer">
            <a class="btn btn-default" href="/TODO-Webseite/index.html">Back</a>
        </div>
    </div>
</body>
</html>