<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/TODO-Webseite/libs/css/bootstrap.min.css">
    <script></script>
</head>
<body>
    <div class="panel panel-default">
        <div class="panel-body">
            <h1>Impressum</h1>
            Angaben gem. § 5 TMG <br>
            <br>
            <strong>Betreiber und Kontakt:</strong> <br>
            Juan Edmundo Cabello Bilbao <br>
            <br>
            Schlüterstr. 80 <br>
            App-Nr. 407 <br>
            10625 Berlin <br>
            <br>
            <i>Telefonnummer:</i> +491752329333<br>
            <i>E-Mail-Adresse:</i> juanecabellob@gmail.com<br>
        </div>
    </div>
</body>
</html>